# Fichiers de configuration contenant des secrets
**/application-dev.properties
**/application-prod.properties

# Fichiers générés
target/
.idea/
*.iml
*.class

# Fichiers de logs
logs/
*.log

# Dossiers de build
build/
bin/
out/
src/main/resources/application-local.properties
.env
